@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #fff;
}

body{
  background-color: #111;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  position: sticky;
}
.navbar h1 {
  color:#EA3B3B;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  transition: all .1s;
}
.navbar a:hover {
  color:#EA3B3B;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.logo {
  padding-left: 10px;
  height: 25px;
}

.navbar-docs {
  border: 1px solid #EA3B3B;
}


/* Home */


.home-banner-container {
  position: relative;
  display: flex;
  padding-top: 3rem;
}
.home-bannerImage-container {
  position: absolute;
  top: -100px;
  right: -170px;
  z-index: -2;
  max-width: 700px;
}
.home-image-section {
  max-width: 600px;
  flex: 1;
}
.home-text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #4c4c4c;
  /* line-height: 5rem; */
  max-width: 600px;
}
.primary-text {
  font-size: clamp(1rem, 3vw, 1.5rem);
  max-width: 500px;
  color: #6a6a6a;
  margin: 1.5rem 0rem;
}
.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #fe9e0d;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary-button:hover {
  background-color: #e48f0f;
}


/* Footer */

.footer {
  display: flex;
  justify-content: center;
  background-color: #EA3B3B;
  padding: 10px;
  text-transform: uppercase;
  font-size: large;
}

.footer-box {
  margin: 20px;
  text-align: center;
}

.footer-contact {
  padding: 10px;
}

.footer-icons {
  padding-bottom: 10px;
}

.footer-icons-items {
  padding: 10px;
}

.footer-bottom {

}